<div class="container">

	<% @groups.each do |group, students| %>
	<span id="group-name"><%= group %></span>
	<div id="group-container">
			

		<% students.each do |student| %>
		<div id="student">
			<img src="<%= student[:picture] %>">
			<%= student[:name] %>
		</div>
		<% end %>

</div>
	<% end %>

</div>
