<div class="container">

<form action="/create" method="post">
  <input name="cohort_id" type="text" placeholder="cohort id">
  <input name="week_number" type="text" placeholder="week number">
  <input name="submit" type="submit" value="submit">
</form>
 
</div>
